{% load static %}

<html>
    <head>
        <title>Playground</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <style>
            .center {
              margin: auto;
              width: 70%;
              padding: 10px;
            }
            h1{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>Welcome to Playground</h1>
            <p>Our playground is of great size. It is five hundred feet long and three hundred feet wide. It is oblong in shape. It is covered with beautiful green grass. The grass is cut regularly. So, the playing field looks quite plain.Various games are played on it. There are different courts for different sports. Necessary lines have been marked in the courts.Our playground has courts for the games of football, ringball, volleyball, badminton, hockey, cricket, and hide-and-seek.</p>
        </div>
    </body>
</html>


