{% load static %}

<html>
    <head>
        <title>High Secondary</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <style>
            .center {
              margin: auto;
              width: 70%;
              padding: 10px;
            }
            h1{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>Welcome to High Secondary Compartment</h1>
            <p>It is of only 2 years. There is uniformity at this level of education in terms of the duration and classes i.e. all the States/UTs follow this 10+2 pattern. Senior Secondary Schools in India include classes 11th to 12th and consiste of students aged between 16-18 years usually. At this level of education, students can choose their preferred stream and subjects. They can pursue Arts, Commerce, Science (medical & nonmedical). The schools which provide education up to the 12th class are commonly known as Senior Secondary Schools or Higher Secondary Schools. Many schools are affiliated with secondary schools while some states have specific Junior colleges. Some students also choose to do a diploma after their 10th class instead of appearing for the 12th exam.</p>
        </div>
        </body>
</html>


