{% load static %}

<html>
    <head>
        <title>High School</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <style>
            .center {
              margin: auto;
              width: 70%;
              padding: 10px;
            }
            h1{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>Welcome to High School Compartment</h1>
            <p>A high school is a secondary school, where teenagers are educated before starting college or getting jobs. Most high schools have four numbered grades, from ninth to twelfth. After middle school or junior high comes high school. The term started in Scotland — the oldest high school in the world is there, the Royal High School, which opened in 1505 and which the U.S. used as a model for its first public high school in 1821. In some countries, students begin a longer stint in high school around age eleven, but in the U.S. high school starts around age fourteen.</p>
        </div>
    </body>
</html>


