{% load static %}

<html>
    <head>
        <title>Middle School Compartment</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <style>
            .center {
              margin: auto;
              width: 70%;
              padding: 10px;
            }
            h1{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>Welcome to Middle School Compartment</h1>
            <p>It covers 3-4 years of academic study and is formed by the 5th-8thclass consisting of students aged between 12 to 14 years. The schools that impart education up to 8th class are known with various names like – High School, Senior School. Some of the states/union territories that follow the 5th -7th class of middle stage are Assam, Goa, Gujarat, Karnataka, Kerala, Dadra & Nagar Haveli, Daman & Diu, Lakshadweep, etc. Some of the states/union territories that follow the 6th -8th class of the middle stage are Arunachal Pradesh, Haryana, Madhya Pradesh, Punjab, Andaman & Nicobar Islands, Chandigarh, Delhi, etc.            </p>
        </div>
    </body>
</html>


