{% load static %}

<html>
    <head>
        <title>V-kids</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
        <style>
            .center {
              margin: auto;
              width: 70%;
              padding: 10px;
            }
            h1{
                text-align:center;
            }
        </style>
    </head>
    <body>
        <div class="center">
            <h1>Welcome to V-kids</h1>
            <p>V-kids understands the importance of a sound infrastructure that stimulates intellectual learning in students. The infrastructure here is scientifically planned, artistically designed and precisely constructed in order to meet the specific needs of the budding aspirants. It has well furnished classrooms, a multipurpose hall, an outdoor child-friendly play pen, an activity room and a kids library. Restrooms are built with low level sinks and unique fittings which make children feel comfortable. A High-Tech Security System is ensured with the help of CCTVs in strategic point to enable parents view the recordings.To help the children look after their personal cleanliness and make them feel at home, dedicated nurse maids are always present to render full support. A special care taker is present to cultivate good table manners and neat toilet habits for toddlers.</p>
        </div>
    </body>
</html>


